# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.dSYM

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# distutils output
build/
dist/
MANIFEST

# MacOS garbage
.DS_Store

# Sphinx build dirs
docs/_build
docs/_static
docs/_templates

# Jupyter notebook checkpoints
*-checkpoint.ipynb
