include *.py *.txt *.md
include docs/Makefile docs/*.py docs/*.rst docs/modules/*.rst
recursive-include examples *.py *.txt *.ipynb *.drn *.png
recursive-include src *.c *.h *.in configure
recursive-include test *.py *.txt *.obj *.test *.nitpkl
recursive-include tutorial *.txt *.ipynb

global-exclude *-checkpoint.ipynb
global-exclude *.py[co]